<table class="info" width="100%">
    <!-- BEGIN ROW -->
        <!-- BEGIN VAL -->
        <tr>
            <th><b>{KEY}</b></th>
            <td>{VAL}</td>
        </tr>
        <!-- END VAL -->
        <!-- BEGIN ZAG -->
        <tr>
            <td colspan="2"><div class="subtitle"><h1>{ZAG}</h1></div></td>
        </tr>
        <!-- END ZAG -->
    <!-- END ROW -->
</table>
<!-- BEGIN EDIT_LINK --><ul class="whattodo"><li><A HREF="{LINK}"><span>{LINK_NAME}</span></A></li></ul><!-- END EDIT_LINK -->